/* Typography */
/* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1240,16,1.25,9,4,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
	--step--4: clamp(0.41rem, calc(0.7rem + -0.37vw), 0.62rem);
	--step--3: clamp(0.51rem, calc(0.77rem + -0.33vw), 0.7rem);
	--step--2: clamp(0.64rem, calc(0.84rem + -0.26vw), 0.79rem);
	--step--1: clamp(0.8rem, calc(0.92rem + -0.15vw), 0.89rem);
	--step-0: clamp(1rem, calc(1rem + 0vw), 1rem);
	--step-1: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
	--step-2: clamp(1.27rem, calc(1.16rem + 0.52vw), 1.56rem);
	--step-3: clamp(1.42rem, calc(1.24rem + 0.92vw), 1.95rem);
	--step-4: clamp(1.6rem, calc(1.31rem + 1.46vw), 2.44rem);
	--step-5: clamp(1.8rem, calc(1.37rem + 2.17vw), 3.05rem);
	--step-6: clamp(2.03rem, calc(1.41rem + 3.11vw), 3.82rem);
	--step-7: clamp(2.28rem, calc(1.42rem + 4.33vw), 4.77rem);
	--step-8: clamp(2.57rem, calc(1.38rem + 5.9vw), 5.96rem);
	--step-9: clamp(2.89rem, calc(1.3rem + 7.94vw), 7.45rem);
}

/* Space */
/* @link https://utopia.fyi/space/calculator?c=320,14,1.2,1240,16,1.5,9,2,&s=0.75|0.5|0.25|0.125,1.5|2|3|4|6|8|12|16|20|24|32,s-l&g=s,l,xl,12 */

:root {
	--space-4xs: clamp(0.13rem, calc(0.13rem + 0vw), 0.13rem);
	--space-3xs: clamp(0.25rem, calc(0.25rem + 0vw), 0.25rem);
	--space-2xs: clamp(0.44rem, calc(0.42rem + 0.11vw), 0.5rem);
	--space-xs: clamp(0.69rem, calc(0.67rem + 0.11vw), 0.75rem);
	--space-s: clamp(0.88rem, calc(0.83rem + 0.22vw), 1rem);
	--space-m: clamp(1.31rem, calc(1.25rem + 0.33vw), 1.5rem);
	--space-l: clamp(1.75rem, calc(1.66rem + 0.43vw), 2rem);
	--space-xl: clamp(2.63rem, calc(2.49rem + 0.65vw), 3rem);
	--space-2xl: clamp(3.5rem, calc(3.33rem + 0.87vw), 4rem);
	--space-3xl: clamp(5.25rem, calc(4.99rem + 1.3vw), 6rem);
	--space-4xl: clamp(7rem, calc(6.65rem + 1.74vw), 8rem);
	--space-5xl: clamp(10.5rem, calc(9.98rem + 2.61vw), 12rem);
	--space-6xl: clamp(14rem, calc(13.3rem + 3.48vw), 16rem);
	--space-7xl: clamp(17.5rem, calc(16.63rem + 4.35vw), 20rem);
	--space-8xl: clamp(21rem, calc(19.96rem + 5.22vw), 24rem);
	--space-9xl: clamp(28rem, calc(26.61rem + 6.96vw), 32rem);

	/* One-up pairs */
	--space-4xs-3xs: clamp(0.13rem, calc(0.08rem + 0.22vw), 0.25rem);
	--space-3xs-2xs: clamp(0.25rem, calc(0.16rem + 0.43vw), 0.5rem);
	--space-2xs-xs: clamp(0.44rem, calc(0.33rem + 0.54vw), 0.75rem);
	--space-xs-s: clamp(0.69rem, calc(0.58rem + 0.54vw), 1rem);
	--space-s-m: clamp(0.88rem, calc(0.66rem + 1.09vw), 1.5rem);
	--space-m-l: clamp(1.31rem, calc(1.07rem + 1.2vw), 2rem);
	--space-l-xl: clamp(1.75rem, calc(1.32rem + 2.17vw), 3rem);
	--space-xl-2xl: clamp(2.63rem, calc(2.15rem + 2.39vw), 4rem);
	--space-2xl-3xl: clamp(3.5rem, calc(2.63rem + 4.35vw), 6rem);
	--space-3xl-4xl: clamp(5.25rem, calc(4.29rem + 4.78vw), 8rem);
	--space-4xl-5xl: clamp(7rem, calc(5.26rem + 8.7vw), 12rem);
	--space-5xl-6xl: clamp(10.5rem, calc(8.59rem + 9.57vw), 16rem);
	--space-6xl-7xl: clamp(14rem, calc(11.91rem + 10.43vw), 20rem);
	--space-7xl-8xl: clamp(17.5rem, calc(15.24rem + 11.3vw), 24rem);
	--space-8xl-9xl: clamp(21rem, calc(17.17rem + 19.13vw), 32rem);

	/* Custom pairs */
	--space-s-l: clamp(0.88rem, calc(0.48rem + 1.96vw), 2rem);
}

/* Grid */
/* @link https://utopia.fyi/grid/calculator?c=320,14,1.2,1240,16,1.25,9,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|8|12|16|20|24|32,s-l&g=s,l,xl,12 */

:root {
	--grid-max-width: 62rem;
	--grid-gutter: var(--space-s-l, clamp(0.88rem, calc(0.34rem + 2.68vw), 2rem));
	--grid-columns: 12;
}

.u-container {
	max-width: var(--grid-max-width);
	padding-inline: var(--grid-gutter);
	margin-inline: auto;
}

.u-grid {
	display: grid;
	gap: var(--grid-gutter);
}
